@{
    ViewData["Title"] = "Create Edit";
}
@model Expense_App.Models.Expense
<div class="text-center">
    <h1 class="display-4">///Create & Edit///</h1>
</div>
<form asp-action = "CreateEditExpenseForm" asp-controller="Home">
    <label>Id</label>
    <input hidden class =" form-control" type ="number" placeholder ="0" asp-for = "Id"/>
    <label class ="mt-4">Value $ </label>
    <input class=" form-control" type="number" placeholder="0" asp-for="Value" step="0.01" />
    <label class="mt-4">Description</label>
    <input class=" form-control" type="text" placeholder="Add a Description" asp-for="Description" step="0.01"/>
    <button class="btn btn-primary mt-4"type="submit">OK</button>
</form>
