@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Expenses</h1>

    <a asp-controller="Home"asp-action="Expenses" class="btn btn-primary">Overview</a>
    <a asp-controller="Home" asp-action="CreateEditExpense" class="btn btn-secondary">Create</a>
</div>
